<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sriramsv.aiotaskerplugin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_BROADCAST" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIOTaskerPlugin">
        <activity
            android:name=".command.AIOCommand"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_aiocommand"
            android:theme="@style/Theme.AIOTaskerPlugin.NoActionBar">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".command.AddWidget"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_aiowidget"
            android:theme="@style/Theme.AIOTaskerPlugin.NoActionBar">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>